@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  padding: 30px 0;

  background-color: $color-primary;

  &__title {
    @include visually-hidden;
  }
  &__container {
    display: grid;

    @extend %container;
    gap: $gap;
    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &-item {
    &:nth-of-type(1) {
      @include md-sm {
        grid-column: 1/span 2;
      }
    }
    &__input {
      display: block;
      overflow: visible;

      width: 100%;
      height: $gap-x3;
      padding-right: $gap-lg;
      padding-left: $gap-lg;

      transition: background-color 0.5s, border-color 0.5s;
      letter-spacing: 0.15em;

      color: $color-white;
      border: 2px solid rgba(255, 255, 255, 0);
      border-bottom-color: rgba(255, 255, 255, 0.25);
      background-color: rgba(255, 255, 255, 0.05);

      font-size: 1.125rem;
      &:hover,
      &:focus {
        border-color: rgba(255, 255, 255, 0.15);
        border-bottom-color: $color-white;
        outline: none;
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }
  .btn--primary {
    width: 100%;

    color: $color-white;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
      border-color: $color-white;
      background-color: $color-highlight;
    }
  }
}
